/* ---------------- HEADER ---------------- */

.header {
    height: 50px;
    background-color: lightgray;
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    margin-left: -10px;
    font-family: 'Comic Sans MS', serif;
    z-index: 1;
}

/* блок поиска */
.search_block {
    padding: 5px 5px 5px 5px;
    margin: 0 500px 0 131px;
    width: 400px;
    flex: 1;
}

/* кнопка поиска*/
.search_button {
    font-size: 16px;
    font-family: 'Comic Sans MS', serif;
    padding: 3px 5px 3px 5px;
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 15px;
    position: relative;
    bottom: 10.5px;
}

/* стиль при наведении на кнопку поиска */
.search_button:hover {
    box-shadow: 0 0 10px black;
}

/* поле ввода для поиска */
.field_search {
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    position: relative;
    bottom: 11px;
    font-family: 'Comic Sans MS', serif;
}

/* стиль при наведении на поле поиска */
.field_search:hover {
    box-shadow: 0 0 10px black;
}

/* логотип - облачко, в шапке */
.cloud_logo {
    margin: 0 5px 25px 110px;
    padding_bottom: 40px;
    flex: 1;
}

/* текст для логотипа */
.logo_text {
    font-size: 30px;
    font-weight: bold;
    margin-top: 5px;
    margin-left: 10px;
}

/* стиль при наведении на текст логотипа */
.logo_text:hover {
    text-shadow: 0 0 10px white;
}

/* стиль для блока с датой и временем */
.datetime_header {
    font-size: 20px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: 500;
}

/* стиль при наведении на дату и время */
.datetime_header:hover {
    text-shadow: 0 0 10px white;
}

/* ---------------- MENU ---------------- */

.menu {
    width: 1000px;
    height: 200px;
    position: relative;
    left: 100px;
    top: 50px;
    flex: 1;
    font-family: Comic Sans MS, serif;
    font-size: 18px;
}

/* ссылки в меню */
.links {
    text-decoration: none;
    color: black;
}

/* наведение курсора на ссылки в меню */
.links:hover {
    color: red;
    text-shadow: 0 0 15px black;
}

/* ---------------- BODY ---------------- */

/* index.php - главный контейнер main */
.index_div_1 {
    display: flex;
    position: relative;
    top: 70px;
    font-family: Comic Sans MS, serif;
}

/* index.php - первая линия блоков, включая меню */
.index_div_line_1 {
    position: relative; /* чтобы дочерний элемент нормально располагался на родителе */
    height: 300px;
    background-color: darkgray;
    flex: 3;
    margin: 0 300px 0 121px;
    border-radius: 10px;
}

/* стиль блока на первой линии при наведении курсора */
.index_div_line_1:hover {
    box-shadow: 0 0 10px black;
}

/* белый блок поверх нашего основного блока на 1 линии - выведен */
/* #index_div_line_1_2 {
    position: absolute; // другие блоки не замечают этот элемент
    flex: 1;
    background-color: white;
    height: 145px;
    width: 820px;
    margin: 150px 100px 0 396px;
    border-radius: 10px;
    z-index: 1;
} */


/* вторая линия - основной контейнер */
.index_div_2 {
    display: flex;
    position: relative;
    top: 90px;
    font-family: Comic Sans MS, serif;
}

/* index.php - вторая линия блоков (левый блок) */
.index_div_line_2_1 {
    width: 100px;
    height: 300px;
    background-color: darkgray;
    flex: 1.5;
    margin: 20px 100px 0 392px;
    border-radius: 10px;
}

/* стиль левого блока на второй линии при наведении курсора */
.index_div_line_2_1:hover {
    box-shadow: 0 0 10px black;
}

/* index.php - вторая линия блоков (правый верхний блок) */
.index_div_line_2_2 {
    width: 300px;
    height: 100px;
    background-color: darkgray;
    flex: 1;
    margin: 20px 300px 0 -85px;
    border-radius: 10px;
}
/* стиль правого верхнего блока на второй линии при наведении курсора */
.index_div_line_2_2:hover {
    box-shadow: 0 0 10px black;
}

/* index.php - вторая линия блоков (правый нижний блок) */
.index_div_line_2_3 {
    width: 320px;
    height: 179px;
    background-color: darkgray;
    flex: 0.5;
    margin: 140px 300px 0 -107px;
    border-radius: 10px;
    position: fixed;
    left: 1000px;
    z-index: 2;
}

/* стиль правого нижнего блока на второй линии при наведении курсора */
.index_div_line_2_3:hover {
    box-shadow: 0 0 10px black;
}

/* ---------------- FEEDBACK.PHP ---------------- */

/* feedback.php - главный контейнер main */
.index_div_2 {
    display: flex;
    position: relative;
    top: 70px;
    font-family: Comic Sans MS, serif;
}

/* feedback.php - первая линия блоков, включая меню */
.feedback_div {
    width: 300px;
    height: 315px;
    background-color: darkgray;
    flex: 3;
    margin: 0 400px 0 155px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
}

/* стиль блока обратной связи при наведении */
.feedback_div:hover {
    box-shadow: 0 0 10px black;
}

/* стиль для полей ввода input в форме обратной связи */
.input-style {
    width: 95%;
    margin: 0px 10px 15px 10px;
    padding: 5px;
    border-radius: 7px;
    border: none;
    font-size: 16px;
    font-family: Comic Sans MS, serif;
}

.text_feedback {
    padding-left: 10px;
}

/* кнопка: Отправить, в форме обратной связи */
.feedback_button {
    border-radius: 5px;
    border: 1px solid black;
    margin-left: 10px;
    margin-top: 10px;
    padding: 4px;
    position: relative;
    bottom: 5px;
    font-family: Comic Sans MS, serif;
    font-size: 16px;
}

/* стиль при наведении на кнопку: Отправить, в форме обр. связи */
.feedback_button:hover {
    box-shadow: 0 0 10px black;
}

/* ---------------- FOOTER ---------------- */

footer {
    text-align: center;
    font-family: Comic Sans MS, serif;
}

/* ---------------- MUSIC ---------------- */

.block_1 { /* создали блок, здесь будет меню */
    height: 1000px;
    widows: 1000px;
    display: flex;
    margin: 50px 200px 0 100px;
    position: relative;
}

#column { /* расположили наш блок вертикально */
    flex-direction: column;
}

.blocks_music_column_1 { /* прописали параметры контейнеров в первом вертикальном блоке */
    background-color: lightgrey;
    width: 150px;
    height: 450px;
    margin: 20px 0 0 0px;
    border-radius: 20px;
}

.block_2 { /* создали второй блок */
    height: 1000px;
    widows: 1000px;
    display: flex;
    position: fixed;
    margin-top: 50px;
}

.blocks_music_column_2 { /* прописали параметры контейнеров во втором вертикальном блоке */
    background-color: lightgrey;
    width: 700px;
    height: 400px;
    margin: 20px 0 0 300px;
    border-radius: 20px;
}
